body{
margin:0;
font-family:Arial;
}

/* top bar */

.topbar{
background:#d6b27b;
text-align:center;
padding:10px;
font-size:14px;
}

/* navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
color:white;
}

.logo{
font-size:32px;
font-weight:bold;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

/* menu */

.menu{
text-align:center;
padding:15px;
background:#eee;
}

.menu span{
margin:20px;
font-weight:bold;
}

/* hero section */

.hero{
display:flex;
height:80vh;
}

/* left side */

.hero-left{
width:30%;
background:black;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero-left h1{
font-size:40px;
color:gold;
}

/* right side */

.hero-right{
width:70%;
display:flex;
}

/* cards */

.card{
flex:1;
text-align:center;
background:#b23b45;
color:white;
padding:20px;
}

.card img{
width:80%;
border-radius:10px;
}